<app-base-modal
  [modalTitle]="'Novo convênio'"
  [confirmButtonText]="'Salvar'"
  (onConfirmClick)="onConfirm()"
  (onCancelClick)="onCancel()"
>
  <form [formGroup]="formCadastro" class="convenio-form">
    <div class="form-row">
      <div class="form-row-half">
        <app-input
          label="Nome"
          formControlName="nome"
          placeholder="Digite o nome"
          appearance="outline"
          [required]="true"
        ></app-input>

        <app-select
          label="Status"
          formControlName="status"
          [options]="statusOptions"
          appearance="outline"
          [required]="true"
        ></app-select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-row-half">
        <app-select
          label="Cidade"
          formControlName="cidade"
          [options]="(cidades$ | async) || []"
          appearance="outline"
          [required]="true"
        ></app-select>
      </div>
    </div>
    <div class="form-row">
      <app-input
        label="Observações"
        formControlName="observacoes"
        placeholder="Digite as observações"
        appearance="outline"
      ></app-input>
    </div>
  </form>
</app-base-modal>
