<mat-form-field [appearance]="appearance" [class]="cssClass">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <mat-select
    [formControl]="control"
    [placeholder]="placeholder"
    [compareWith]="compareWith"
    (selectionChange)="onSelectionChange($event.value)"
  >
    <mat-option *ngFor="let option of options" [value]="option.value" [disabled]="option.disabled">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <mat-icon matPrefix *ngIf="prefixIcon">
    {{ prefixIcon }}
  </mat-icon>

  <mat-icon matSuffix *ngIf="suffixIcon && !clearable" (click)="onSuffixIconClick()">
    {{ suffixIcon }}
  </mat-icon>

  <mat-icon
    matSuffix
    *ngIf="clearable && hasValue() && !control.disabled"
    (click)="onClear()"
    class="clear-icon"
    [matTooltip]="clearTooltip"
  >
    clear
  </mat-icon>

  <!-- <mat-error *ngIf="hasError">{{ errorMessage }}</mat-error> -->
</mat-form-field>
