<div class="modal-header">
  <h2 mat-dialog-title>{{ modalTitle || 'Modal' }}</h2>
  <button mat-icon-button class="close-button" (click)="onClose()" aria-label="Fechar modal">
    <mat-icon #closeButton>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="modal-content">
  <ng-content></ng-content>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!isVisualizacao" class="modal-actions" align="end">
  <button
    #cancelButton
    mat-stroked-button
    color="primary"
    (click)="onCancel()"
    class="cancel-button"
  >
    Cancelar
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="onConfirm()"
    [disabled]="formInvalid"
    class="confirm-button"
  >
    {{ confirmButtonText }}
  </button>
</mat-dialog-actions>
