<mat-card class="filters-card">
  <div class="filters-header">
    <mat-card-title class="filters-title">{{ title }}</mat-card-title>
    <div class="action-buttons">
      <button
        mat-raised-button
        color="primary"
        class="add-button"
        type="button"
        (click)="onAdd()"
        [disabled]="disabled"
        *ngIf="showAddButton"
      >
        <mat-icon *ngIf="!isRelatorio">add</mat-icon>
        <span>{{ isRelatorio ? 'Gerar Relatório' : 'Novo' }}</span>
      </button>
    </div>
  </div>

  <mat-card-content>
    <form [formGroup]="formGroup" class="filters-container">
      <div class="filters-fields">
        <ng-content></ng-content>
        <div class="action-buttons">
          <button
            mat-raised-button
            class="search-button"
            type="button"
            (click)="onSearch()"
            [disabled]="disabled"
            [matTooltip]="'Pesquisar'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="formGroup.dirty"
            mat-stroked-button
            class="clear-button"
            type="button"
            (click)="onClear()"
            [disabled]="disabled"
            [matTooltip]="'Limpar filtros'"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
