<div class="usuarios-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (add)="onAdd()"
    (clear)="onClear()"
    (search)="pesquisarConvenios()"
    title="Lista de Convênios"
  >
    <app-input
      label="Nome"
      [control]="$any(filtrosForm.get('Nome'))"
      placeholder="Buscar por nome"
      suffixIcon="search"
      appearance="outline"
      cssClass="mat-spacing-sm field-lg"
    >
    </app-input>

  </app-filters-container>
  <div class="table-section">
    <app-table
      [columns]="tableColumns"
      [data]="convenios"
      [actions]="tableActions"
      [showActions]="true"
      tableClass="convenios-table"
    >
    </app-table>
  </div>
</div>
