<app-base-modal
  [modalTitle]="'Novo Usuário'"
  [confirmButtonText]="'Salvar'"
  (onConfirmClick)="onConfirm()"
  (onCancelClick)="onCancel()"
  [formHasChanges]="formHasChanges"
>
  <form [formGroup]="formCadastro" class="usuario-form">
    <div class="form-row">
      <app-input
        label="Nome"
        [control]="$any(formCadastro.get('nome'))"
        placeholder="Digite o nome completo"
        appearance="outline"
      ></app-input>
    </div>

    <div class="form-row">
      <div class="form-row-half">
        <app-input
          label="E-mail"
          [control]="$any(formCadastro.get('email'))"
          placeholder="Digite o e-mail"
          appearance="outline"
          type="email"
        ></app-input>

        <app-input
          label="Telefone"
          [control]="$any(formCadastro.get('telefone'))"
          placeholder="(99) 99999-9999"
          appearance="outline"
          [minlength]="10"
               [maxlength]="20"
          type="tel"
        ></app-input>
      </div>
    </div>

    <div class="form-row">
      <div class="form-row-half">
        <app-select
          label="Tipo"
          [control]="$any(formCadastro.get('perfil'))"
          [options]="tiposUsuario"
          appearance="outline"
        ></app-select>

        <app-select
          label="Status"
          [control]="$any(formCadastro.get('status'))"
          [options]="statusOptions"
          appearance="outline"
        ></app-select>
      </div>
    </div>
    <div class="form-row">
      <app-input
        label="Registro Profissional"
        [control]="$any(formCadastro.get('registroProfissional'))"
        placeholder="Ex: CRM 53241, CRF 12345"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>
    <div class="form-row">
      <app-input
        label="Especialidade"
        [control]="$any(formCadastro.get('especialidade'))"
        placeholder="Ex: Fisioterapia, Psicologia"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>

    <div class="form-row">
      <app-input
        label="Observações"
        [control]="$any(formCadastro.get('observacao'))"
        placeholder="Observações (opcional)"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>
  </form>
</app-base-modal>
