<app-base-modal
  [modalTitle]="'Novo Usuário'"
  [confirmButtonText]="'Salvar'"
  (onConfirmClick)="onConfirm()"
  (onCancelClick)="onCancel()"
>
  <form [formGroup]="formCadastro" class="usuario-form">
    <div class="form-row">
      <app-input
        label="Nome"
        formControlName="name"
        placeholder="Digite o nome completo"
        appearance="outline"
        [required]="true"
      ></app-input>
    </div>

    <div class="form-row">
      <div class="form-row-half">
        <app-input
          label="E-mail"
          formControlName="email"
          placeholder="Digite o e-mail"
          appearance="outline"
          [required]="true"
          type="email"
        ></app-input>

        <app-input
          label="Telefone (opcional)"
          formControlName="telefone"
          placeholder="(99) 99999-9999"
          appearance="outline"
          type="tel"
        ></app-input>
      </div>
    </div>

    <div class="form-row">
      <app-input
        label="Registro Profissional"
        formControlName="registroProfissional"
        placeholder="CRM 53241"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>

    <div class="form-row">
      <div class="form-row-half">
        <app-select
          label="Tipo"
          formControlName="perfil"
          [options]="tiposUsuario"
          appearance="outline"
          [required]="true"
        ></app-select>

        <app-select
          label="Status"
          formControlName="ativo"
          [options]="statusOptions"
          appearance="outline"
          [required]="true"
        ></app-select>
      </div>
    </div>
    <div class="form-row">
      <app-input
        label="Especialidade"
        formControlName="especialidade"
        placeholder="Digite a especialidade (opcional)"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>

    <div class="form-row">
      <app-input
        label="Registro Profissional"
        formControlName="registroProfissional"
        placeholder="CRM 53241"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>

    <div class="form-row">
      <app-input
        label="Observações"
        formControlName="observacoes"
        placeholder="Observações (opcional)"
        appearance="outline"
        cssClass="field-full"
      ></app-input>
    </div>
  </form>
</app-base-modal>
