<div class="usuarios-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (add)="onAdd()"
    (clear)="onClear()"
    (search)="pesquisarAgendamentos()"
    title="Lista de Agendamentos"
  >
    <!-- <app-input
      label="Nome"
      [control]="$any(filtrosForm.get('profissional'))"
      placeholder="Buscar por nome"
      suffixIcon="search"
      appearance="outline"
      cssClass="mat-spacing-sm field-lg"
    >
    </app-input> -->

  <app-autocomplete
    label="Profissional"
    placeholder="Digite para buscar..."
    [options]="(profissionalOptions | async) || []"
    [control]="$any(filtrosForm.get('profissional'))"
    [clearable]="true"
    prefixIcon="person"
    (selectionChange)="onProfissionalSelecionado($event)"
  >
  </app-autocomplete>
 
  {{ filtrosForm.get('profissional')?.value | json }}

    <!-- <app-input
      label="Nome"
      [control]="$any(filtrosForm.get('nome'))"
      placeholder="Buscar por nome"
      suffixIcon="search"
      appearance="outline"
      cssClass="mat-spacing-sm field-lg"
    >
    </app-input> -->
  </app-filters-container>
  <div class="table-section">
    <app-table
      [columns]="tableColumns"
      [data]="agendamentos"
      [actions]="tableActions"
      [showActions]="true"
      tableClass="agendamentos-table"
    >
    </app-table>
  </div>
</div>
