<div class="usuarios-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (add)="onAdd()"
    (clear)="onClear()"
    (search)="pesquisarAgendamentos()"
    title="Lista de Agendamentos"
  >
    <app-autocomplete
      label="Profissional"
      placeholder="Digite para buscar..."
      [options]="(profissionalOptions | async) || []"
      [control]="$any(filtrosForm.get('profissional'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass="mat-spacing-sm field-md"
    >
    </app-autocomplete>

    <app-rangepicker
      [controlInicio]="$any(filtrosForm.get('dataAgendamentoInicio'))"
      [controlFim]="$any(filtrosForm.get('dataAgendamentoFim'))"
      labelInicio="Data Inicial"
      labelFim="Data Final"
      [clearable]="true"
   cssClass="mat-spacing-sm field-md"
    ></app-rangepicker>

    <app-select
      label="Status"
      [control]="$any(filtrosForm.get('status'))"
      [options]="statusOptions"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>
  </app-filters-container>
  <div class="table-section">
    <app-table
      [columns]="tableColumns"
      [data]="agendamentos"
      [actions]="tableActions"
      [showActions]="true"
      tableClass="agendamentos-table"
    >
    </app-table>
  </div>
</div>
