<mat-form-field [appearance]="appearance" [class]="cssClass">
  <mat-label *ngIf="label">{{ label }}</mat-label>

  <input
    matInput
    [type]="type"
    [formControl]="control"
    [placeholder]="placeholder"
    [attr.maxlength]="maxlength"
    [attr.minlength]="minlength"
    [pattern]="pattern"
    [autocomplete]="autocomplete"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
  />

  <mat-icon matPrefix *ngIf="prefixIcon">
    {{ prefixIcon }}
  </mat-icon>

  <mat-icon matSuffix *ngIf="suffixIcon && !clearable" (click)="onSuffixIconClick()">
    {{ suffixIcon }}
  </mat-icon>

  <mat-icon
    matSuffix
    *ngIf="clearable && hasValue() && !control.disabled"
    (click)="onClear()"
    class="clear-icon"
    [matTooltip]="clearTooltip"
  >
    clear
  </mat-icon>

  <mat-error *ngIf="hasError">{{ errorMessage }}</mat-error>
</mat-form-field>
