# Angular/Node.js
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity

# Angular build outputs
/dist/
/tmp/
/out-tsc/
/bazel-out/

# Angular dependencies
/node_modules/

# Angular profiling files
chrome-profiler-events*.json

# Angular IDEs and editors
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Angular misc
/.sass-cache/
/connect.lock/
/coverage/
/libpeerconnection.log/
testem.log
/typings/

# Angular System Files
.DS_Store
Thumbs.db

