<div class="relatorio-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (clear)="limparFiltros()"
    (search)="pesquisar()"
    title="Relatório Individual"
    searchButtonText="Atualizar Preview"
    [showAddButton]="false"
  >
    <app-autocomplete
      label="Assistido"
      placeholder="Digite para buscar..."
      [options]="(assistidosOptions$ | async) || []"
      [control]="$any(filtrosForm.get('assistido'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass="padding-right mat-spacing-sm field-md"
    >
    </app-autocomplete>

    <app-autocomplete
      label="Profissional"
      placeholder="Digite para buscar..."
      [options]="(profissionalOptions$ | async) || []"
      [control]="$any(filtrosForm.get('profissional'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass="padding-right mat-spacing-sm field-md"
    >
    </app-autocomplete>

    <app-date
      label="Data Início"
      [control]="$any(filtrosForm.get('dataInicio'))"
      placeholder="DD/MM/AAAA"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
      [clearable]="true"
    ></app-date>

    <app-date
      label="Data Fim"
      [control]="$any(filtrosForm.get('dataFim'))"
      placeholder="DD/MM/AAAA"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
      [clearable]="true"
    ></app-date>

    <app-select
      label="Município"
      [control]="$any(filtrosForm.get('municipio'))"
      [options]="(cidades$ | async) || []"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>
  </app-filters-container>

  <app-table
    [columns]="tableColumns"
    [data]="relatorioData"
    [showActions]="false"
    tableClass="relatorio-table"
  >
  </app-table>
</div>
