<div class="usuarios-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (add)="onAdd()"
    (clear)="onClear()"
    (search)="pesquisarUsuarios()"
    title="Lista de Usuários"
  >
    <app-input
      label="Nome"
      formControlName="nome"
      placeholder="Buscar por nome"
      suffixIcon="search"
      appearance="outline"
      cssClass="mat-spacing-sm field-lg"
    >
    </app-input>

    <app-input
      label="E-mail"
      formControlName="email"
      placeholder="Buscar por e-mail"
      suffixIcon="email"
      appearance="outline"
      cssClass="mat-spacing-sm field-lg"
    >
    </app-input>

    <app-select
      label="Tipo"
      formControlName="perfil"
      [options]="perfisUsuario"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>

    <app-select
      label="Status"
      formControlName="status"
      [options]="statusOptions"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>
  </app-filters-container>

  <div class="table-section">
    <app-table
      [columns]="tableColumns"
      [data]="usuarios"
      [actions]="tableActions"
      [showActions]="true"
      tableClass="usuarios-table"
    >
    </app-table>
  </div>
</div>
