<div class="relatorio-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (clear)="limparFiltros()"
    (add)="gerarRelatorio()"
    [isRelatorio]="true"
    (search)="pesquisar()"
    title="Relatório de Presenças"
    searchButtonText="Atualizar Preview"
  >
    <app-autocomplete
      label="Profissional"
      placeholder="Digite para buscar..."
      [options]="(profissionalOptions$ | async) || []"
      [control]="$any(filtrosForm.get('profissional'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass="padding-right mat-spacing-sm field-md"
    >
    </app-autocomplete>

    <mat-form-field appearance="outline" class="month-year-field mat-spacing-sm">
      <mat-label>Mês/Ano</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="periodoReferencia" readonly />
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker
        #dp
        startView="multi-year"
        (yearSelected)="chosenYearHandler($event)"
        (monthSelected)="chosenMonthHandler($event, dp)"
        panelClass="month-year-picker"
      >
      </mat-datepicker>
    </mat-form-field>

    <app-autocomplete
      label="Município"
      placeholder="Digite para buscar..."
      [options]="(cidades$ | async) || []"
      [control]="$any(filtrosForm.get('municipio'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass=""
    >
    </app-autocomplete>

    <app-autocomplete
      label="Convênio"
      placeholder="Digite para buscar..."
      [options]="(convenios$ | async) || []"
      [control]="$any(filtrosForm.get('convenio'))"
      [clearable]="true"
      prefixIcon="person"
      cssClass="padding-left padding-right"
    >
    </app-autocomplete>
  </app-filters-container>

  <app-table
    [columns]="tableColumns"
    [data]="relatorioData"
    [showActions]="false"
    tableClass="relatorio-table"
  >
  </app-table>
</div>
