<div class="relatorio-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    (clear)="limparFiltros()"
    (add)="gerarRelatorio()"
    [isRelatorio]="true"
    (search)="pesquisar()"
    title="Relatório de Presenças"
    searchButtonText="Atualizar Preview"
  >
    <app-select
      label="Assistido"
      [control]="$any(filtrosForm.get('assistido'))"
      [options]="(assistidosOptions$ | async) || []"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
      placeholder="Selecione um assistido"
    >
    </app-select>

    <app-select
      label="Profissional"
      [control]="$any(filtrosForm.get('profissional'))"
      [options]="(profissionalOptions$ | async) || []"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
      placeholder="Selecione um profissional"
    >
    </app-select>

    <app-date
      label="Data Início"
      [control]="$any(filtrosForm.get('dataInicio'))"
      placeholder="DD/MM/AAAA"
      appearance="outline"
      cssClass=" mat-spacing-sm field-md"
      [clearable]="true"
    ></app-date>

    <app-date
      label="Data Fim"
      [control]="$any(filtrosForm.get('dataFim'))"
      placeholder="DD/MM/AAAA"
      appearance="outline"
      cssClass=" mat-spacing-sm field-md"
      [clearable]="true"
    ></app-date>

    <app-select
      label="Município"
      [control]="$any(filtrosForm.get('municipio'))"
      [options]="(cidades$ | async) || []"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>

    <app-select
      label="Convênio"
      [control]="$any(filtrosForm.get('convenio'))"
      [options]="(convenios$ | async) || []"
      appearance="outline"
      cssClass="mat-spacing-sm field-md"
    >
    </app-select>
  </app-filters-container>

  <app-table
    [columns]="tableColumns"
    [data]="relatorioData"
    [showActions]="false"
    tableClass="relatorio-table"
  >
  </app-table>
</div>
