<div class="atendimentos-pendentes-container">
  <app-filters-container
    [formGroup]="filtrosForm"
    [showAddButton]="false"
    (clear)="onClear()"
    (search)="pesquisarAgendamentos()"
    title="Lista de Agendamentos"
  >
    <app-date
      label="Data"
      [control]="$any(filtrosForm.get('dataAgendamento'))"
      placeholder="DD/MM/AAAA"
      appearance="outline"
      [clearable]="true"
      cssClass="padding-right mat-spacing-sm field-md"
    ></app-date>

  </app-filters-container>
  <div class="table-section">
    <app-table
      [columns]="tableColumns"
      [data]="atendimentosPendentes"
      [actions]="tableActions"
      [showActions]="true"
      tableClass="atendimentos-pendentes-table"
    >
    </app-table>
  </div>
</div>
