<div class="sidebar">
  <mat-toolbar color="primary" class="sidebar-header">
    <span>APAE Feliz</span>
  </mat-toolbar>

  <mat-nav-list class="nav-list">
    <ng-container *ngFor="let item of menuItems">
      <a mat-list-item [routerLink]="item.route" *ngIf="!item.children" routerLinkActive="active">
        <mat-icon matListIcon>{{ item.icon }}</mat-icon>
        <span matLine>{{ item.label }}</span>
      </a>

      <mat-expansion-panel *ngIf="item.children" class="submenu">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="child.route" *ngFor="let child of item.children" routerLinkActive="active">
            <mat-icon matListIcon>{{ child.icon }}</mat-icon>
            <span matLine>{{ child.label }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-nav-list>
</div>
