# .NET Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET specific files
*.dll
*.exe
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json
*.xml
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
*.csproj.user
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.MvcApplicationPartsAssemblyInfo.*
*.sourcelink.json
*.staticwebassets.*
staticwebassets/
EndpointInfo/
ApiEndpoints.json
apphost.exe
*.Up2Date
*.assets.cache
*.csproj.AssemblyReference.cache
*.csproj.BuildWithSkipAnalyzers
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.genruntimeconfig.cache
*.staticwebassets.build.*
*.staticwebassets.references.upToDateCheck.txt
*.staticwebassets.removed.txt
msbuild.build.*.props
msbuild.buildMultiTargeting.*.props
msbuild.buildTransitive.*.props

# Configuration files
appsettings.json
appsettings.Development.json
appsettings.Production.json
appsettings.*.json

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs


