<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field >
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Senha" formControlName="password" />
  </mat-form-field>
    <button type="button" (click)="goToResetPassword()" mat-button>Recuperar senha</button>
  <button [disabled]="!loginForm.valid" mat-button>Entrar</button>
</form>
